
/* Main input + button alignment */

.row.with-forms .main-search-input { margin-bottom: 0; }
.main-search-box button.button{
    height:52px;
}

.main-search-input input {
    display: inline-block;
    margin: 0;
    flex: 1;

}

.main-search-input input.search_keyword {
    margin-bottom: 0px!important;
}

.main-search-input button.button {
    width: auto;
    min-width: 120px;
    margin: 0;
    position: relative;
    margin-left: 20px;
    flex: 0 auto;
    height: 51px;
}

.larger-input button.button,
.larger-input input, .main-search-box select {
    height: 55px;
    min-width: 120px;
}


/* Alignment */
.row.with-forms input,
.row.with-forms input[type="text"],
.row.with-forms input[type="password"],
.row.with-forms input[type="email"],
.row.with-forms input[type="number"],
.row.with-forms textarea,
.row.with-forms input,
.row.with-forms select,
.row.with-forms .chosen-container {
    margin-bottom: 18px;
}

.row.with-forms {
    margin-left: -10px;
    margin-right: -10px;
}

.with-forms .col-xs-1, .with-forms .col-sm-1, .with-forms .col-md-1, .with-forms .col-lg-1,
.with-forms .col-xs-2, .with-forms .col-sm-2, .with-forms .col-md-2, .with-forms .col-lg-2,
.with-forms .col-xs-3, .with-forms .col-sm-3, .with-forms .col-md-3, .with-forms .col-lg-3,
.with-forms .col-xs-4, .with-forms .col-sm-4, .with-forms .col-md-4, .with-forms .col-lg-4,
.with-forms .col-xs-5, .with-forms .col-sm-5, .with-forms .col-md-5, .with-forms .col-lg-5,
.with-forms .col-xs-6, .with-forms .col-sm-6, .with-forms .col-md-6, .with-forms .col-lg-6,
.with-forms .col-xs-7, .with-forms .col-sm-7, .with-forms .col-md-7, .with-forms .col-lg-7,
.with-forms .col-xs-8, .with-forms .col-sm-8, .with-forms .col-md-8, .with-forms .col-lg-8,
.with-forms .col-xs-9, .with-forms .col-sm-9, .with-forms .col-md-9, .with-forms .col-lg-9,
.with-forms .col-xs-10, .with-forms .col-sm-10, .with-forms .col-md-10, .with-forms .col-lg-10,
.with-forms .col-xs-11, .with-forms .col-sm-11, .with-forms .col-md-11, .with-forms .col-lg-11,
.with-forms .col-xs-12, .with-forms .col-sm-12, .with-forms .col-md-12, .with-forms .col-lg-12 {
    padding: 0 10px;
}


/* ---------------------------------- */
/*  Full Width Search Form
------------------------------------- */
section.search {
    padding: 0 0;
    background: #f7f7f7 linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5));
    margin: 0;
}

.search .parallax-content{
    padding:20px 0;
}

section.search .main-search-box,
section.search .more-search-options-container {
    /* background-color: transparent; */
}

h3.search-title {
    margin: 3px 0 35px 0;
    font-size: 28px;
}

h4.search-title {
    margin: 10px 0 34px 0;
    font-size: 24px;
}

.search-title i {
    font-size: 22px;
    position: relative;
    top: 0;
    margin-right: 4px;
}
/* ---------------------------------- */
/* Search Forms Styling
------------------------------------- */
.main-search-container {
    transform: translate3d(0,-12px,0);
}

.main-search-container h1,
.main-search-container h2 {
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.main-search-form {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 35px;
}

.main-search-box {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
    padding: 30px;
    padding-bottom: 20px;
    margin-top: -9px;
    border-radius: 3px;
}

.main-search-container 
.main-search-box {
    background-color: #fff;
}

.main-search-box.no-shadow {
    box-shadow: none;
    padding: 0;
    margin: 0;
}


/* Search Type Buttons*/

/* ---------------------------------- */
/* Listings Styles
------------------------------------- */
.fs-listings,
.listings-container {
    position: relative;
    z-index: 9;
}

.listing-item {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 30px;
}

.owl-carousel .listing-item { margin-bottom: 0; }


.listing_price_block{

}

.listing-img-container{
    position: relative;
    width: 100%;
    display: block;
    height:50%;
    overflow:hidden;
}

.listing-content{
    height:50%;

}

.listing-img-container img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.listing-img-container:after,
.listing-img-container:before {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    content: "";
    z-index: 9;
    display: none!important;
    
}

.listing-img-container:before {
    opacity: 0.9;
    background: linear-gradient(to bottom, transparent 65%, #2f2f2f);
    transition: opacity .3s;
    
}

.listing-img-container:after {
    opacity: 0;
    background: linear-gradient(to bottom, transparent 60%, #66676b);
    transition: opacity .4s;
}

.listing-img-container:hover:before {
    opacity: 0;
    transition: opacity 0.4s;
}

.listing-img-container:hover:after {
    opacity: 0.9;
    transition: opacity 0.3s;
}


/* Content on image */
.listing_price_block{
    background:rgba(0, 0, 0,0.5);
    padding: 12px 20px;
    z-index:9;
}

.listing-img-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    opacity:0.7;
}

.listing-img-content span {
    color: #fff;
    font-size: 20px;
}

.listing-img-content .listing-price i {
    display: block;
    font-style: normal;
    font-size: 15px;
    padding: 0;
    margin: -4px 0 0 0;
}



/* Badges */
.listing-badges {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 13px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}

.listing-badges span {
    color: #fff;
    display: inline-block;
    padding: 1px 10px;
    float: right;
    /* background-color: rgba(74,74,76,0.7); */
    border-radius: 3px;
    top: 15px;
    right: 15px;
    position: absolute;
}

.listing-item .featured {
    /* background-color: #66676b; */
    float: left;
    transform: rotate(-45deg);
    left: -67px;
    top: 17px;
    position: absolute;
    text-align: center;
    width: 200px;
    font-size: 12.5px;
    margin: 0;
}

.listing-item .featured.ribbon , .carousel-item .featured.ribbon{
    
    float: left;
    transform: rotate(-45deg);
    left: -37px;
    top: 48px;
    position: absolute;
    text-align: center;
    width: 200px;
    font-size: 12.5px;
    margin: 0;
    color:#fff;
}

.listing-item  .p-status, .carousel-item .p-status {
    top: 1rem;
    padding: 0 5px;
    border-radius: 3px;
    color: #fff;
}

/* Logo Carousel */
.logo-carousel { padding: 0px; }

.logo-carousel .owl-controls .owl-buttons {
    position: absolute;
    top: -75px;
    right: -5px;
}

.logo-carousel .item {
    text-align: center;
    padding: 0 0;
}

.logo-carousel .item img {
    max-width: 200px;
    height: auto;
}


/* Listing carousel nav */
.listing-carousel.owl-theme .owl-controls .owl-buttons {
    position: absolute;
    top: 50%;
    right: 0;
    color: #fff;
    width: 100%;
    height: 0px;
    transform: translate(0,-50%);
    z-index: 99;
}

.listing-carousel.owl-theme .owl-controls .owl-buttons div:hover,
.listing-carousel.owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    position: absolute;
    z-index: 101;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 4.25rem;
    transition: all 0.3s;
    background-color: transparent;
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 37px;
    padding: 0;
}

.list-layout .listing-carousel.owl-theme .owl-controls .owl-buttons div:hover,
.list-layout .listing-carousel.owl-theme .owl-controls .owl-buttons div {
    font-size: 19px;
    height: 32px;
    width: 32px;
    line-height: 31px;
}


.listing-carousel.owl-theme .owl-controls .owl-prev:before,
.listing-carousel.owl-theme .owl-controls .owl-next:after {
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: #66676b; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    border-radius: 50%;
    opacity: 0.9;
    transition: opacity 0.3s;
}

.listing-carousel.owl-theme .owl-controls .owl-prev:after,
.listing-carousel.owl-theme .owl-controls .owl-next:before {
    z-index: 99;
    position: relative;
}

.listing-carousel.owl-theme .owl-controls .owl-buttons div:hover:before,
.listing-carousel.owl-theme .owl-controls .owl-buttons div:hover:after { opacity: 1; }

.listing-carousel.owl-theme .owl-controls .owl-next {
    right: 26px;
    text-indent: 2px;
}

.listing-carousel.owl-theme .owl-controls .owl-prev {
    left: 26px;
    text-indent: -2px;
}

.listing-item .owl-next,
.listing-item .owl-prev {
    opacity: 1;
    transition: all 0.4s;
}

.listing-item .owl-next{
    margin-right: -5px;
}

.listing-item .owl-prev {
    margin-left: -5px;
}


.listing-item:hover .owl-next,
.listing-item:hover .owl-prev {
    opacity: 1;
    transform: translate3d(0,-51%,0);
    margin: 0;
}


.listing-carousel.outer .owl-next,
.listing-carousel.outer .owl-prev {
    opacity: 1;
    transition: all 0.4s;
}

/* Alternative Listing Carousel Navigation Theme */
.listing-carousel.owl-theme.outer .owl-controls .owl-buttons {
    top: -48px;
    height: 0;
}

.listing-carousel.owl-theme.outer .owl-controls .owl-buttons div { top: 0; }
.listing-carousel.owl-theme.outer .owl-controls .owl-buttons .owl-next { right: 0; }

.listing-carousel.owl-theme.outer .owl-controls .owl-buttons .owl-prev {
    right: 35px;
    left: auto;
}

.listing-carousel.owl-theme.outer .owl-controls .owl-buttons div:hover,
.listing-carousel.owl-theme.outer .owl-controls .owl-buttons div {
    color: #fff;
    position: absolute;
    z-index: 101;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 20px;
    transition: all 0.3s;
    background-color: transparent;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    padding: 0;
}

.listing-carousel.owl-theme.outer .owl-controls .owl-prev::before,
.listing-carousel.owl-theme.outer .owl-controls .owl-next::after {
    background-color: #eee;
    opacity: 1;
    transition: all 0.3s;
}

.listing-carousel.owl-theme.outer .owl-controls .owl-prev::after,
.listing-carousel.owl-theme.outer .owl-controls .owl-next::before {
    color: #a0a0a0;
    transition: all 0.3s;
}

.listing-carousel.owl-theme.outer .owl-controls .owl-prev:hover::before,
.listing-carousel.owl-theme.outer .owl-controls .owl-next:hover::after {
    background-color: #66676b;
}

.listing-carousel.owl-theme.outer .owl-controls .owl-prev:hover::after,
.listing-carousel.owl-theme.outer .owl-controls .owl-next:hover::before {
    color: #fff;
}


/* ---------------------------------- */
/* Owl Carousel
------------------------------------- */

body .carousel {
    left: -15px;
    width: calc(100% + 30px)
}

.carousel-item {
    margin: 15px;
}

.owl-theme .owl-controls{
    text-align: center;
}


/* Styling Next and Prev buttons */
.dot-navigation.owl-theme .owl-controls .owl-buttons { display: none; }
.logo-carousel.dot-navigation .owl-controls { margin-top: 30px; }

.owl-theme .owl-controls .owl-buttons div {
    color: #aaa;
    display: inline-block;
    position: relative;
    zoom: 1;
    padding: 6px;
    background: transparent;
    font-family: "Font Awesome 5 Free", serif;
    font-weight:900;
    font-size: 38px;
    transition: all 0.2s;
}

.owl-theme .owl-controls .owl-buttons .owl-next:before {
    content: "\f054"
}

.owl-theme .owl-controls .owl-buttons .owl-prev:after {
    content: "\f053"
}

.owl-theme .owl-controls .owl-buttons {
    position: absolute;
    top: -60px;
    right: 8px;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover { color: #888; }


/* Before page gets loaded */
.carousel-item { width: 29%;  display: inline-block; }
.carousel-item .listing-carousel { overflow: hidden; height: 280px; }

.owl-wrapper .carousel-item { width: auto;  display: block; }
.owl-wrapper .listing-carousel { overflow: hidden; height: auto; }
/* Before page gets loaded */


/* Logo Carousel */
.logo-carousel { padding: 0px; }

.logo-carousel .owl-controls .owl-buttons {
    position: absolute;
    top: -75px;
    right: -5px;
}

.logo-carousel .item {
    text-align: center;
    padding: 0 0;
}

.logo-carousel .item img {
    max-width: 200px;
    height: auto;
}


/* Styling Next and Prev buttons */
.owl-nav span {
    color: #FFF;
    margin:0;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    cursor: pointer;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: none;
}

.dot-navigation.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 15px;
    height: 15px;
    margin: 10px 4px 0 4px;
    opacity: 0.5;
    border-radius: 50%;
    background: #aaa;
    transition: all 0.2s;
    transform: 3d(0,0,0);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x : 50%;
    -webkit-perspective-origin-y : 50%;
    -moz-perspective : 1200px;
    -moz-perspective-origin-x : 50%;
    -moz-perspective-origin-y : 50%;
    perspective : 1200px;
}
/* fade */
.owl-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease;
}
.owl-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
    -webkit-animation: backSlideOut 1s both ease;
    -moz-animation: backSlideOut 1s both ease;
    animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
    -webkit-animation: backSlideIn 1s both ease;
    -moz-animation: backSlideIn 1s both ease;
    animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
    -webkit-animation: scaleToFade .7s ease both;
    -moz-animation: scaleToFade .7s ease both;
    animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
    -webkit-animation: goDown .6s ease both;
    -moz-animation: goDown .6s ease both;
    animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
    -webkit-animation: scaleUpFrom .5s ease both;
    -moz-animation: scaleUpFrom .5s ease both;
    animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
    -webkit-animation: scaleUpTo .5s ease both;
    -moz-animation: scaleUpTo .5s ease both;
    animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
    0% {opacity: 1}
}
@-moz-keyframes empty {
    0% {opacity: 1}
}
@keyframes empty {
    0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@keyframes fadeOut {
    0% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
    25% { opacity: .5; -webkit-transform: translateZ(-500px); }
    75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
    25% { opacity: .5; -moz-transform: translateZ(-500px); }
    75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
    25% { opacity: .5; transform: translateZ(-500px); }
    75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
    0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; -webkit-transform: translateZ(-500px); }
    100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
    0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; -moz-transform: translateZ(-500px); }
    100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
    0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5; transform: translateZ(-500px); }
    100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
    to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
    to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
    from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
    from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
    from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
    from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
    from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
    to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
    to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
    to { opacity: 0; transform: scale(1.5); }
}



/* ---------------------------------- */
/* Slick Carousel
------------------------------------- */

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 990;
    font-family: "FontAwesome";

    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
}

.fullwidth-home-slider .slick-prev,
.fullwidth-home-slider .slick-next {
    opacity: 0;
    transition: 0.3s;
    transform: translate(-10px, -50%);
}

.fullwidth-home-slider .slick-next {
    transform: translate(10px, -50%);
}

.fullwidth-home-slider:hover .slick-prev,
.fullwidth-home-slider:hover .slick-next {
    opacity: 1;
    transform: translate(0, -50%);
}

.slick-prev:after,
.slick-next:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #66676b;
    opacity: 0.85;
    transition: all 0.35s;
}

.slick-prev:hover:after,
.slick-next:hover:after {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    line-height: 20px;


    opacity: 1;
    color: white;
    position: relative;
    z-index: 999;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev { left: 40px; }
.slick-prev:before { content: '\f104'; left: -1px; }

.slick-next { right: 40px; }
.slick-next:before { content: '\f105'; right: -1px; }


.property-slider .slick-prev,
.property-slider .slick-next {
    opacity: 0;
    transition: 0.4s;
    transform: translate;
}

.property-slider .slick-prev {
    transform: translateX(-8px);
}

.property-slider .slick-next {
    transform: translateX(8px);
}


.property-slider:hover .slick-prev,
.property-slider:hover .slick-next { opacity: 1; transform: translateX(0);}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



/* ---------------------------------- */
/* Magnific Popup
------------------------------------- */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    overflow: hidden;
    position: fixed;
    background: #000;
    opacity: 0.96;
}

.mfp-wrap {
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    height: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 505;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #aaa;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 504;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: #fff;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

.mfp-s-loading .mfp-arrow {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 506;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    right: 0px;
    top: -40px;
}

/* Close Button */
.og-close,
button.mfp-close {
    position: absolute;
    width: 45px;
    height: 45px;
    top: -20px;
    display: block;
    right: -12px;
    cursor: pointer !important;
    z-index: 9999;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    margin: 0px;
    background-color: transparent;
    outline: none;	transform: translate3d(0,0,0);
}


.mfp-iframe-holder .mfp-close {
    top: -50px;
    right: -12px;
    transform: translate3d(0,0,0);
}

.mfp-gallery .mfp-close {
    top: 20px;
    right: 10px;
}

.mfp-gallery  .mfp-content .mfp-close {
    display: none;
}

.mfp-gallery .mfp-close:after,
.mfp-gallery .mfp-close:before {
    font-family: "Font Awesome 5 Free",serif;
    font-weight:900;
    font-size: 29px;
    top: 4px;
    left: 50%;
    position: absolute;
    height: 10px;
    transition: 0.3s;
}


.mfp-close::after,
.mfp-close::before {
    top: 0px;
}

.og-close {
    margin: 17px;
    right: 10px;
    background: transparent;
    color: #222;
}

.mfp-close:hover,
.og-close:hover {
    transform: rotate(90deg);
}

.og-close:after,
.og-close:before,
.mfp-close:after,
.mfp-close:before {
    font-family: "FontAwesome";
    font-size: 29px;
    top: 21px;
    left: 50%;
    position: absolute;
    height: 10px;
    transition: 0.3s;
}

.og-close:after,
.og-close:before { top: 7px; font-size: 29px; }

.og-close:after,
.mfp-close:after {
    content:"\f106";
    -webkit-transform: translate(0,0);
    transform: translate(-50%,60%);
}

.og-close:after {
    -webkit-transform: translate(0,0);
    transform: translate(-50%,60%);
}

.og-close:before,
.mfp-close:before {
    content:"\f107";
    -webkit-transform: translate(0,0);
    transform: translate(-50%,0%);
}


#small-dialog .mfp-close,
.mfp-close:hover {
    color: #fff;
}

#small-dialog .mfp-close:hover {
    color: #fff;
}

.small-dialog-content input[type=submit] {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 10px;
}

.small-dialog-content .divider {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 0;
}

.small-dialog-headline h2,
.small-dialog-headline h3,
.small-dialog-headline h4 {
    font-size: 22px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    display: inline-block;
    margin: 10px 0 35px 0;
    padding-bottom: 30px;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    font-size: 13px;
    line-height: 18px;
}

.mfp-arrow {
    opacity: 1;
    margin: 0 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    z-index: 100;
    overflow: hidden;
    background: rgba(77,77,77,0);
    border-radius: 50%;
    outline: none;
}

.mfp-arrow:hover {
    background:  rgba(77,77,77,0);;
    color: #fff;
}

.mfp-arrow.mfp-arrow-left,
.mfp-arrow.mfp-arrow-right {
    font-family: "Font Awesome 5 Free",serif;
    font-weight:900;
    font-size: 29px;
}

.mfp-arrow.mfp-arrow-right { right: 15px; }

.mfp-arrow.mfp-arrow-left:before { content: "\f104"; left: -1px; top: 0; position: relative; }
.mfp-arrow.mfp-arrow-right:before { content: "\f105"; left: 1px; top: 0; position: relative; }

.mfp-content:hover .mfp-arrow {
    opacity: 1;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 1180px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 54%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}

/* Popup */
#small-dialog {
    background: #fff;
    padding: 30px 45px 35px 45px;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing:border-box;
}

#small-dialog span.line {padding-top: 7px;}

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0.001; /* Chrome opacity transition bug */
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.mfp-figure {
    line-height: 0;
}

.mfp-bottom-bar {
    margin-top: -30px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-break: break-word;
    padding-right: 36px;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}


/* Media Queries for Magnific Popup */
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {

    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0
    }

    /* The shadow behind the image */
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
}

@media all and (max-width: 800px) { 
    .mfp-arrow {
        width: 70px;
    }
 }

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.92;
    background-color: #111;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


.saved:before,.saved:after,
.saved i{
    font-weight:900;
}

.unsaved:before,.unsaved:after{
color:white;
}

@media (min-width:1140px) {
    .main-search-form{
        width:1000px;
    }
}